/*
Syntax error: Invalid CSS after "...icons-clean-up,": expected function argument, was ");"
        on line 18 of icons
        from line 28 of /Users/javierarce/code/nexso/scss/sprites.scss

Backtrace:
icons:18
/Users/javierarce/code/nexso/scss/sprites.scss:28
/Users/javierarce/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.12/lib/sass/scss/parser.rb:929:in `expected'
/Users/javierarce/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.12/lib/sass/script/lexer.rb:193:in `expected!'
/Users/javierarce/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.12/lib/sass/script/parser.rb:450:in `assert_expr'
/Users/javierarce/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.12/lib/sass/script/parser.rb:361:in `arglist'
/Users/javierarce/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.12/lib/sass/script/parser.rb:340:in `fn_arglist'
/Users/javierarce/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.12/lib/sass/script/parser.rb:449:in `assert_expr'
/Users/javierarce/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.12/lib/sass/script/parser.rb:361:in `arglist'
/Users/javierarce/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.12/lib/sass/script/parser.rb:340:in `fn_arglist'
/Users/javierarce/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.12/lib/sass/script/parser.rb:306:in `funcall'
/Users/javierarce/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.12/lib/sass/script/parser.rb:294:in `ident'
(eval):2:in `unary_not'
(eval):2:in `unary_div'
(eval):2:in `unary_minus'
(eval):2:in `unary_plus'
(eval):3:in `times_div_or_mod'
(eval):3:in `plus_or_minus'
(eval):3:in `relational'
(eval):3:in `eq_or_neq'
(eval):3:in `and_expr'
(eval):3:in `or_expr'
/Users/javierarce/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.12/lib/sass/script/parser.rb:273:in `space'
/Users/javierarce/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.12/lib/sass/script/parser.rb:258:in `interpolation'
/Users/javierarce/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.12/lib/sass/script/parser.rb:221:in `expr'
/Users/javierarce/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.12/lib/sass/script/parser.rb:449:in `assert_expr'
/Users/javierarce/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.12/lib/sass/script/parser.rb:49:in `parse'
/Users/javierarce/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.12/lib/sass/scss/parser.rb:822:in `sass_script'
/Users/javierarce/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.12/lib/sass/scss/parser.rb:355:in `variable'
/Users/javierarce/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.12/lib/sass/scss/parser.rb:398:in `block_child'
/Users/javierarce/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.12/lib/sass/scss/parser.rb:391:in `block_contents'
/Users/javierarce/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.12/lib/sass/scss/parser.rb:59:in `stylesheet'
/Users/javierarce/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.12/lib/sass/scss/parser.rb:28:in `parse'
/Users/javierarce/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.12/lib/sass/engine.rb:327:in `_to_tree'
/Users/javierarce/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.12/lib/sass/engine.rb:258:in `block in to_tree'
/Users/javierarce/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.12/lib/sass/util.rb:297:in `silence_sass_warnings'
/Users/javierarce/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.12/lib/sass/engine.rb:258:in `to_tree'
/Users/javierarce/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.12/lib/sass/tree/visitors/perform.rb:144:in `visit_import'
/Users/javierarce/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.12/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/javierarce/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.12/lib/sass/tree/visitors/perform.rb:18:in `visit'
/Users/javierarce/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.12/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Users/javierarce/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.12/lib/sass/tree/visitors/base.rb:53:in `map'
/Users/javierarce/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.12/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Users/javierarce/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.12/lib/sass/tree/visitors/perform.rb:27:in `block in visit_children'
/Users/javierarce/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.12/lib/sass/tree/visitors/perform.rb:39:in `with_environment'
/Users/javierarce/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.12/lib/sass/tree/visitors/perform.rb:26:in `visit_children'
/Users/javierarce/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.12/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Users/javierarce/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.12/lib/sass/tree/visitors/perform.rb:47:in `visit_root'
/Users/javierarce/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.12/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/javierarce/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.12/lib/sass/tree/visitors/perform.rb:18:in `visit'
/Users/javierarce/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.12/lib/sass/tree/visitors/perform.rb:7:in `visit'
/Users/javierarce/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.12/lib/sass/tree/root_node.rb:20:in `render'
/Users/javierarce/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.12/lib/sass/engine.rb:300:in `_render'
/Users/javierarce/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.12/lib/sass/engine.rb:248:in `block in render'
/Users/javierarce/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.12/lib/sass/util.rb:297:in `silence_sass_warnings'
/Users/javierarce/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.12/lib/sass/engine.rb:248:in `render'
/Users/javierarce/.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.7/lib/compass/compiler.rb:136:in `block (2 levels) in compile'
/Users/javierarce/.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.7/lib/compass/compiler.rb:122:in `timed'
/Users/javierarce/.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.7/lib/compass/compiler.rb:135:in `block in compile'
/Users/javierarce/.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.7/lib/compass/logger.rb:45:in `red'
/Users/javierarce/.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.7/lib/compass/compiler.rb:134:in `compile'
/Users/javierarce/.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.7/lib/compass/compiler.rb:114:in `compile_if_required'
/Users/javierarce/.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.7/lib/compass/compiler.rb:99:in `block (2 levels) in run'
/Users/javierarce/.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.7/lib/compass/compiler.rb:97:in `each'
/Users/javierarce/.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.7/lib/compass/compiler.rb:97:in `block in run'
/Users/javierarce/.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.7/lib/compass/compiler.rb:122:in `timed'
/Users/javierarce/.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.7/lib/compass/compiler.rb:96:in `run'
/Users/javierarce/.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.7/lib/compass/commands/watch_project.rb:142:in `recompile'
/Users/javierarce/.rvm/gems/ruby-1.9.2-p290/gems/fssm-0.2.8.1/lib/fssm/path.rb:73:in `call'
/Users/javierarce/.rvm/gems/ruby-1.9.2-p290/gems/fssm-0.2.8.1/lib/fssm/path.rb:73:in `run_callback'
/Users/javierarce/.rvm/gems/ruby-1.9.2-p290/gems/fssm-0.2.8.1/lib/fssm/path.rb:55:in `callback_action'
/Users/javierarce/.rvm/gems/ruby-1.9.2-p290/gems/fssm-0.2.8.1/lib/fssm/path.rb:35:in `update'
/Users/javierarce/.rvm/gems/ruby-1.9.2-p290/gems/fssm-0.2.8.1/lib/fssm/state/directory.rb:39:in `block in modified'
/Users/javierarce/.rvm/gems/ruby-1.9.2-p290/gems/fssm-0.2.8.1/lib/fssm/state/directory.rb:37:in `each'
/Users/javierarce/.rvm/gems/ruby-1.9.2-p290/gems/fssm-0.2.8.1/lib/fssm/state/directory.rb:37:in `modified'
/Users/javierarce/.rvm/gems/ruby-1.9.2-p290/gems/fssm-0.2.8.1/lib/fssm/state/directory.rb:18:in `refresh'
/Users/javierarce/.rvm/gems/ruby-1.9.2-p290/gems/fssm-0.2.8.1/lib/fssm/backends/rbfsevent.rb:30:in `block in temporary_multipath_handler'
/Users/javierarce/.rvm/gems/ruby-1.9.2-p290/gems/fssm-0.2.8.1/lib/fssm/backends/rbfsevent.rb:27:in `each'
/Users/javierarce/.rvm/gems/ruby-1.9.2-p290/gems/fssm-0.2.8.1/lib/fssm/backends/rbfsevent.rb:27:in `temporary_multipath_handler'
/Users/javierarce/.rvm/gems/ruby-1.9.2-p290/gems/fssm-0.2.8.1/lib/fssm/backends/rbfsevent.rb:17:in `block (2 levels) in run'
/Users/javierarce/.rvm/gems/ruby-1.9.2-p290/gems/fssm-0.2.8.1/lib/fssm/backends/rbfsevent.rb:16:in `each'
/Users/javierarce/.rvm/gems/ruby-1.9.2-p290/gems/fssm-0.2.8.1/lib/fssm/backends/rbfsevent.rb:16:in `block in run'
/Users/javierarce/.rvm/gems/ruby-1.9.2-p290/gems/rb-fsevent-0.4.3.1/lib/rb-fsevent/fsevent.rb:37:in `call'
/Users/javierarce/.rvm/gems/ruby-1.9.2-p290/gems/rb-fsevent-0.4.3.1/lib/rb-fsevent/fsevent.rb:37:in `run'
/Users/javierarce/.rvm/gems/ruby-1.9.2-p290/gems/fssm-0.2.8.1/lib/fssm/backends/rbfsevent.rb:20:in `run'
/Users/javierarce/.rvm/gems/ruby-1.9.2-p290/gems/fssm-0.2.8.1/lib/fssm/monitor.rb:26:in `run'
/Users/javierarce/.rvm/gems/ruby-1.9.2-p290/gems/fssm-0.2.8.1/lib/fssm.rb:70:in `monitor'
/Users/javierarce/.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.7/lib/compass/commands/watch_project.rb:86:in `perform'
/Users/javierarce/.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.7/lib/compass/commands/base.rb:18:in `execute'
/Users/javierarce/.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.7/lib/compass/commands/project_base.rb:19:in `execute'
/Users/javierarce/.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.7/lib/compass/exec/sub_command_ui.rb:43:in `perform!'
/Users/javierarce/.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.7/lib/compass/exec/sub_command_ui.rb:15:in `run!'
/Users/javierarce/.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.7/bin/compass:25:in `block in <top (required)>'
/Users/javierarce/.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.7/bin/compass:39:in `call'
/Users/javierarce/.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.7/bin/compass:39:in `<top (required)>'
/Users/javierarce/.rvm/gems/ruby-1.9.2-p290/bin/compass:19:in `load'
/Users/javierarce/.rvm/gems/ruby-1.9.2-p290/bin/compass:19:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Invalid CSS after \"...icons-clean-up,\": expected function argument, was \");\"\A         on line 18 of icons\A         from line 28 of /Users/javierarce/code/nexso/scss/sprites.scss"; }
