/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, ../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

@import url(http://fonts.googleapis.com/css?family=News+Cycle);
/* line 31, ../scss/style.scss */
html {
  height: 100%;
}

/* line 32, ../scss/style.scss */
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

/* line 34, ../scss/style.scss */
body {
  font-family: "Helvetica Neue", sans-serif;
  font-size: 15px;
  color: #333333;
}

/* line 40, ../scss/style.scss */
a {
  color: #000;
  text-decoration: none;
}

/* line 42, ../scss/style.scss */
h1 {
  font-family: 'News Cycle', sans-serif;
  color: #0c5fb2;
  font-weight: normal;
  font-size: 42px;
  text-transform: lowercase;
}

/* line 50, ../scss/style.scss */
h2, h3, h4, h5 {
  font-family: "Helvetica Neue", sans-serif;
}

/* line 52, ../scss/style.scss */
h2 {
  font-size: 18px;
  font-weight: bold;
}

/* line 53, ../scss/style.scss */
h3 {
  font-size: 14px;
  font-weight: bold;
}

/* line 54, ../scss/style.scss */
h4 {
  font-size: 11px;
  font-weight: bold;
}

/* line 56, ../scss/style.scss */
.content {
  width: 980px;
  margin: auto;
}

/* Navigation */
/* line 59, ../scss/style.scss */
nav {
  height: 80px;
  background: url(../img/backgrounds/bkg_navigation.png) repeat-x;
}
/* line 63, ../scss/style.scss */
nav h1 {
  position: relative;
  top: 10px;
  float: left;
}
/* line 65, ../scss/style.scss */
nav ul {
  position: relative;
  top: 30px;
  float: right;
}
/* line 70, ../scss/style.scss */
nav ul li {
  display: inline;
  margin-left: 26px;
}
/* line 74, ../scss/style.scss */
nav ul li a {
  position: relative;
  font-size: 19px;
  color: #000000;
  text-transform: uppercase;
  font-family: 'News Cycle', sans-serif;
  z-index: 150;
}

/* line 79, ../scss/style.scss */
#map {
  height: 100%;
}

/* Basic infobox */
/* line 83, ../scss/style.scss */
.box {
  position: relative;
  width: 304px;
}
/* line 89, ../scss/style.scss */
.box .header {
  background: url(../img/backgrounds/bkg_box_top_gold.png) repeat-y;
  position: absolute;
  width: 234px;
  height: 49px;
  top: -119px;
  padding: 35px;
}
/* line 97, ../scss/style.scss */
.box .header hgroup {
  width: 220px;
}
/* line 100, ../scss/style.scss */
.box .header hgroup h2 {
  color: #fff;
  text-shadow: 1px 1px 1px #845412;
  line-height: 22px;
}
/* line 101, ../scss/style.scss */
.box .header hgroup h4 {
  text-shadow: 1px 1px 1px #ffcc00;
  margin: 0 0 6px 0;
  color: #9a6100;
  opacity: .6;
  text-transform: uppercase;
}
/* line 105, ../scss/style.scss */
.box .content {
  width: 218px;
  padding: 29px 43px 24px 43px;
  background: url(../img/backgrounds/bkg_boxes.png) repeat-y -944px top;
}
/* line 112, ../scss/style.scss */
.box .footer {
  width: 100%;
  background: url(../img/backgrounds/bkg_boxes.png) no-repeat -631px bottom;
  height: 13px;
  position: absolute;
  left: 0;
  bottom: -13px;
}

/* line 118, ../scss/style.scss */
.box .content a {
  font-size: 11px;
  font-weight: bold;
  text-transform: uppercase;
}
/* line 120, ../scss/style.scss */
.box .content h4 {
  margin: 0 0 5px 0;
  text-transform: uppercase;
  color: #bbbbbb;
}
/* line 122, ../scss/style.scss */
.box .content ul {
  list-style: square;
  margin: 0 0 29px 0;
}
/* line 126, ../scss/style.scss */
.box .content ul:last-child {
  margin: 0;
}
/* line 128, ../scss/style.scss */
.box .content ul li {
  margin: 0 0 7px 0;
  color: #333333;
  font-size: 15px;
  line-height: 22px;
}
/* line 134, ../scss/style.scss */
.box .content ul li a {
  font-size: 15px;
  color: #333333;
  text-transform: none;
  font-weight: normal;
  border-bottom: 1px dotted #4C4C4C;
}
/* line 140, ../scss/style.scss */
.box.blue .content a {
  color: #1872a0;
}

/* Golden box */
/* line 145, ../scss/style.scss */
.box.golden .header {
  background: url(../img/backgrounds/bkg_box_top_gold.png) repeat-y;
}
/* line 147, ../scss/style.scss */
.box.golden .header hgroup {
  text-shadow: 1px 1px 1px #ffcc00;
}
/* line 149, ../scss/style.scss */
.box.golden .header hgroup h2 {
  color: #fff;
  text-shadow: 1px 1px 1px #845412;
}
/* line 150, ../scss/style.scss */
.box.golden .header hgroup h4 {
  color: #9a6100;
}
/* line 153, ../scss/style.scss */
.box.golden .content {
  background-position: -944px top;
}
/* line 154, ../scss/style.scss */
.box.golden .footer {
  background-position: -631px bottom;
}

/* Green box */
/* line 159, ../scss/style.scss */
.box.green .header {
  background: url(../img/backgrounds/bkg_box_top_green.png) repeat-y;
}
/* line 163, ../scss/style.scss */
.box.green .header hgroup h2 {
  color: #fff;
  text-shadow: 1px 1px 1px #52642a;
}
/* line 164, ../scss/style.scss */
.box.green .header hgroup h4 {
  text-shadow: 1px 1px 1px #b2e053;
  color: #5f7232;
}
/* line 167, ../scss/style.scss */
.box.green .content {
  background-position: -308px top;
}
/* line 168, ../scss/style.scss */
.box.green .footer {
  background-position: left bottom;
}

/* Blue box */
/* line 174, ../scss/style.scss */
.box.blue .header {
  background: url(../img/backgrounds/bkg_box_top_blue.png) repeat-y;
}
/* line 178, ../scss/style.scss */
.box.blue .header hgroup h2 {
  color: #fff;
  text-shadow: 1px 1px 1px #0f445e;
}
/* line 179, ../scss/style.scss */
.box.blue .header hgroup h4 {
  text-shadow: 1px 1px 1px #1b93cf;
  color: #104c6b;
}
/* line 182, ../scss/style.scss */
.box.blue .content {
  background-position: -1566px top;
}
/* line 183, ../scss/style.scss */
.box.blue .footer {
  background-position: -1259px bottom;
}

/* line 187, ../scss/style.scss */
.box.golden {
  position: absolute;
  top: 300px;
  left: 100px;
}

/* line 188, ../scss/style.scss */
.box.green {
  position: absolute;
  top: 300px;
  left: 500px;
}

/* line 189, ../scss/style.scss */
.box.blue {
  position: absolute;
  top: 300px;
  left: 900px;
}

/* line 191, ../scss/style.scss */
nav ul li .filter {
  position: absolute;
  width: 236px;
  top: 35px;
  left: -65px;
  z-index: 100;
}
/* line 199, ../scss/style.scss */
nav ul li .filter div.content {
  width: 186px;
  height: 274px;
  background: url(../img/backgrounds/bkg_filter.png) repeat-y -242px bottom;
  padding: 13px 25px;
}
/* line 206, ../scss/style.scss */
nav ul li .filter div.t {
  position: absolute;
  top: -55px;
  left: 0;
  width: 236px;
  height: 55px;
  background: url(../img/backgrounds/bkg_filter.png) no-repeat left top;
}
/* line 207, ../scss/style.scss */
nav ul li .filter div.b {
  position: absolute;
  bottom: -13px;
  left: 0;
  width: 236px;
  height: 13px;
  background: url(../img/backgrounds/bkg_filter.png) no-repeat -492px top;
}

/* line 215, ../scss/style.scss */
nav ul li .filter .content h3 {
  font-family: 'News Cycle', sans-serif;
  font-size: 14px;
  color: #999999;
  text-transform: uppercase;
}
