/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, ../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/*** SPRITES ***/
/* icons */
/* line 39, icons */
.icons-sprite, .icons-arrows, .icons-icons, .icons-symbols {
  background: url('/img/icons-se04627a781.png') no-repeat;
}

/* line 60, ../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-arrows {
  background-position: 0 0;
}

/* line 60, ../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-icons {
  background-position: 0 -4px;
}

/* line 60, ../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-symbols {
  background-position: 0 -83px;
}

@import url(http://fonts.googleapis.com/css?family=News+Cycle);
/* line 32, ../scss/style.scss */
html {
  height: 100%;
}

/* line 33, ../scss/style.scss */
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

/* line 35, ../scss/style.scss */
body {
  font-family: "Helvetica Neue", sans-serif;
  font-size: 15px;
  color: #333333;
}

/* line 41, ../scss/style.scss */
a {
  color: #000;
  text-decoration: none;
}

/* line 43, ../scss/style.scss */
h1 {
  font-family: 'News Cycle', sans-serif;
  color: #0c5fb2;
  font-weight: normal;
  font-size: 42px;
  text-transform: lowercase;
}

/* line 51, ../scss/style.scss */
h2, h3, h4, h5 {
  font-family: "Helvetica Neue", sans-serif;
}

/* line 53, ../scss/style.scss */
h2 {
  font-size: 18px;
  font-weight: bold;
}

/* line 54, ../scss/style.scss */
h3 {
  font-size: 14px;
  font-weight: bold;
}

/* line 55, ../scss/style.scss */
h4 {
  font-size: 11px;
  font-weight: bold;
}

/* line 57, ../scss/style.scss */
.content {
  width: 980px;
  margin: auto;
}

/* Navigation */
/* line 60, ../scss/style.scss */
nav {
  height: 80px;
  background: url(../img/backgrounds/bkg_navigation.png) repeat-x;
}
/* line 64, ../scss/style.scss */
nav h1 {
  position: relative;
  top: 10px;
  float: left;
}
/* line 66, ../scss/style.scss */
nav ul {
  position: relative;
  top: 30px;
  float: right;
}
/* line 71, ../scss/style.scss */
nav ul li {
  display: inline;
  margin-left: 26px;
}
/* line 75, ../scss/style.scss */
nav ul li a {
  position: relative;
  font-size: 19px;
  color: #000000;
  text-transform: uppercase;
  font-family: 'News Cycle', sans-serif;
  z-index: 150;
}

/* line 80, ../scss/style.scss */
#map {
  height: 100%;
}

/* Basic infobox */
/* line 84, ../scss/style.scss */
.box {
  position: relative;
  width: 304px;
}
/* line 90, ../scss/style.scss */
.box .header {
  background: url(../img/backgrounds/bkg_box_top_gold.png) repeat-y;
  position: absolute;
  width: 234px;
  height: 49px;
  top: -119px;
  padding: 35px;
}
/* line 98, ../scss/style.scss */
.box .header hgroup {
  width: 220px;
}
/* line 101, ../scss/style.scss */
.box .header hgroup h2 {
  color: #fff;
  text-shadow: 1px 1px 1px #845412;
  line-height: 22px;
}
/* line 102, ../scss/style.scss */
.box .header hgroup h4 {
  text-shadow: 1px 1px 1px #ffcc00;
  margin: 0 0 6px 0;
  color: #9a6100;
  opacity: .6;
  text-transform: uppercase;
}
/* line 106, ../scss/style.scss */
.box .content {
  width: 218px;
  padding: 29px 43px 24px 43px;
  background: url(../img/backgrounds/bkg_boxes.png) repeat-y -944px top;
}
/* line 113, ../scss/style.scss */
.box .footer {
  width: 100%;
  background: url(../img/backgrounds/bkg_boxes.png) no-repeat -631px bottom;
  height: 13px;
  position: absolute;
  left: 0;
  bottom: -13px;
}

/* line 119, ../scss/style.scss */
.box .content a {
  font-size: 11px;
  font-weight: bold;
  text-transform: uppercase;
}
/* line 121, ../scss/style.scss */
.box .content h4 {
  margin: 0 0 5px 0;
  text-transform: uppercase;
  color: #bbbbbb;
}
/* line 123, ../scss/style.scss */
.box .content ul {
  list-style: square;
  margin: 0 0 29px 0;
}
/* line 127, ../scss/style.scss */
.box .content ul:last-child {
  margin: 0;
}
/* line 129, ../scss/style.scss */
.box .content ul li {
  margin: 0 0 7px 0;
  color: #333333;
  font-size: 15px;
  line-height: 22px;
}
/* line 135, ../scss/style.scss */
.box .content ul li a {
  font-size: 15px;
  color: #333333;
  text-transform: none;
  font-weight: normal;
  border-bottom: 1px dotted #4C4C4C;
}
/* line 141, ../scss/style.scss */
.box.blue .content a {
  color: #1872a0;
}

/* Golden box */
/* line 146, ../scss/style.scss */
.box.golden .header {
  background: url(../img/backgrounds/bkg_box_top_gold.png) repeat-y;
}
/* line 148, ../scss/style.scss */
.box.golden .header hgroup {
  text-shadow: 1px 1px 1px #ffcc00;
}
/* line 150, ../scss/style.scss */
.box.golden .header hgroup h2 {
  color: #fff;
  text-shadow: 1px 1px 1px #845412;
}
/* line 151, ../scss/style.scss */
.box.golden .header hgroup h4 {
  color: #9a6100;
}
/* line 154, ../scss/style.scss */
.box.golden .content {
  background-position: -944px top;
}
/* line 155, ../scss/style.scss */
.box.golden .footer {
  background-position: -631px bottom;
}

/* Green box */
/* line 160, ../scss/style.scss */
.box.green .header {
  background: url(../img/backgrounds/bkg_box_top_green.png) repeat-y;
}
/* line 164, ../scss/style.scss */
.box.green .header hgroup h2 {
  color: #fff;
  text-shadow: 1px 1px 1px #52642a;
}
/* line 165, ../scss/style.scss */
.box.green .header hgroup h4 {
  text-shadow: 1px 1px 1px #b2e053;
  color: #5f7232;
}
/* line 168, ../scss/style.scss */
.box.green .content {
  background-position: -308px top;
}
/* line 169, ../scss/style.scss */
.box.green .footer {
  background-position: left bottom;
}

/* Blue box */
/* line 175, ../scss/style.scss */
.box.blue .header {
  background: url(../img/backgrounds/bkg_box_top_blue.png) repeat-y;
}
/* line 179, ../scss/style.scss */
.box.blue .header hgroup h2 {
  color: #fff;
  text-shadow: 1px 1px 1px #0f445e;
}
/* line 180, ../scss/style.scss */
.box.blue .header hgroup h4 {
  text-shadow: 1px 1px 1px #1b93cf;
  color: #104c6b;
}
/* line 183, ../scss/style.scss */
.box.blue .content {
  background-position: -1566px top;
}
/* line 184, ../scss/style.scss */
.box.blue .footer {
  background-position: -1259px bottom;
}

/* line 188, ../scss/style.scss */
.box.golden {
  position: absolute;
  top: 300px;
  left: 100px;
}

/* line 189, ../scss/style.scss */
.box.green {
  position: absolute;
  top: 300px;
  left: 500px;
}

/* line 190, ../scss/style.scss */
.box.blue {
  position: absolute;
  top: 300px;
  left: 900px;
}

/* line 192, ../scss/style.scss */
nav ul li .filter {
  display: none;
  position: absolute;
  width: 236px;
  top: 35px;
  left: -65px;
  z-index: 100;
}
/* line 200, ../scss/style.scss */
nav ul li .filter div.content {
  width: 186px;
  height: 294px;
  background: url(../img/backgrounds/bkg_filter.png) repeat-y -242px bottom;
  padding: 13px 25px 7px 25px;
}
/* line 207, ../scss/style.scss */
nav ul li .filter div.t {
  position: absolute;
  top: -55px;
  left: 0;
  width: 236px;
  height: 55px;
  background: url(../img/backgrounds/bkg_filter.png) no-repeat left top;
}
/* line 208, ../scss/style.scss */
nav ul li .filter div.b {
  position: absolute;
  bottom: -13px;
  left: 0;
  width: 236px;
  height: 13px;
  background: url(../img/backgrounds/bkg_filter.png) no-repeat -492px top;
}

/* line 216, ../scss/style.scss */
nav ul li .filter .content h3 {
  margin: 0 0 19px 0;
  font-family: 'News Cycle', sans-serif;
  font-size: 14px;
  color: #999999;
  text-transform: uppercase;
}
/* line 219, ../scss/style.scss */
nav ul li .filter .content ul {
  position: none;
  top: 0;
  float: none;
}
/* line 220, ../scss/style.scss */
nav ul li .filter .content ul li {
  display: block;
  margin: 0;
}
/* line 223, ../scss/style.scss */
nav ul li .filter .content ul.ticks li {
  background: url(../img/icons/icons.png) no-repeat left -66px;
}
/* line 225, ../scss/style.scss */
nav ul li .filter .content ul.ticks li.selected {
  background: url(../img/icons/icons.png) no-repeat left -44px;
}
/* line 232, ../scss/style.scss */
nav ul li .filter .content ul.radio li {
  margin: 0 0 5px 0;
  background: url(../img/icons/icons.png) no-repeat left -21px;
}
/* line 235, ../scss/style.scss */
nav ul li .filter .content ul.radio li.selected {
  background: url(../img/icons/icons.png) no-repeat left 3px;
}
/* line 241, ../scss/style.scss */
nav ul li .filter .content ul {
  margin: 0 0 20px 0;
}
/* line 244, ../scss/style.scss */
nav ul li .filter .content ul li {
  margin: 0 0 14px 0;
  padding-left: 20px;
  background: url(../img/icons/icons.png) no-repeat left -66px;
  cursor: pointer;
}
/* line 250, ../scss/style.scss */
nav ul li .filter .content ul li.selected {
  background: url(../img/icons/icons.png) no-repeat left -44px;
}
/* line 252, ../scss/style.scss */
nav ul li .filter .content ul li.selected a {
  color: #666666;
}
/* line 255, ../scss/style.scss */
nav ul li .filter .content ul li a {
  font-family: "Helvetica Neue", sans-serif;
  font-size: 11px;
  color: #bbbbbb;
  text-transform: uppercase;
  line-height: 14px;
}
/* line 265, ../scss/style.scss */
nav ul li .filter .content hr {
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  width: 229px;
  left: -21px;
  position: relative;
  margin-bottom: 20px;
}
