/*** SPRITES ***/
/* icons */
 $icons-bullet-spacing:90px;
 $icons-money-spacing:70px;
 $icons-calendar-spacing:70px;
 $icons-marker-spacing:70px;
 $icons-gear-spacing:70px;
 $icons-star-spacing:70px;
 $icons-plus-spacing:70px;
 $icons-agency_mini-spacing:20px;
 $icons-ashoka-spacing:20px;
 $icons-gear-spacing:70px;

@import "icons/*.png";
@include all-icons-sprites;

/* backgrounds */
@import "backgrounds/*.png";
@include all-backgrounds-sprites;

