/*** SPRITES ***/

/* icons */
 $icons-bullet-spacing:90px;
 $icons-money-spacing:50px;
 $icons-calendar-spacing:50px;
 $icons-marker-spacing:50px;
 $icons-gear-spacing:50px;
 $icons-star-spacing:50px;
 $icons-plus-spacing:50px;
 $icons-agency_mini-spacing:20px;
 $icons-ashoka-spacing:20px;

@import "icons/*.png";
@include all-icons-sprites;

/* backgrounds */
@import "backgrounds/*.png";
@include all-backgrounds-sprites;

