/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass/css3";
@import "sprites.scss";
@import "helpers.scss";
@import url(http://fonts.googleapis.com/css?family=News+Cycle);

$title_blue:    #0C5FB2;

$blue:          #104C6B;
$light_blue:    #1B93CF;
$dark_blue:     #0F445E;

$gold:          #E69525; // #E69525

$light_gold:    #FFCC00;
$dark_gold:     #845412;

$green:         #76A228;
$light_green:   #B2E053;
$dark_green:    #52642A;

$link_color:    #1872A0; // #156690
$line_color:    #A1A1A0;
$standard_gray: #666666;
$light_gray:    #BBBBBB;
$subtle_gray:   #999999;
$dark_gray:     #333333;

html { height: 100% }
body { height: 100%; margin: 0; padding: 0; overflow:hidden; }

body {
    font-family: "Helvetica Neue", sans-serif;
    font-size: 15px;
    color:$dark_gray;
}

a { color:#000; text-decoration: none; }

h1 {
    font-family: 'News Cycle', sans-serif;
    color: $title_blue;
    font-weight:normal;
    font-size:42px;
    text-transform: lowercase;
}

h2, h3, h4, h5 { font-family: "Helvetica Neue", sans-serif; }

h2 { font-size: 21px; font-weight:bold; }
h3 { font-size: 14px; font-weight:bold; }
h4 { font-size: 11px; font-weight:bold; }

.content { width:980px; margin: auto; }

/* Navigation */
nav {
    height: 80px;
    background:url(../img/backgrounds/bkg_navigation.png) repeat-x;

    h1 { position:relative; top: 10px; float:left; }

    ul { // Main menu
        position:relative;
        top: 30px;
        float:right; 

        li {
            display:inline;
            margin-left: 26px;


            a { 
                &.selected { @include icons-sprite(arrows, $offset-y:-45px, $offset-x:100%); }

                position:relative;
                padding-right:25px;
                font-size:19px;
                color: #000000;
                text-transform: uppercase;
                font-family: 'News Cycle', sans-serif;
                z-index: 150;
                @include icons-sprite(arrows, $offset-y:15px, $offset-x:100%);
            }
        }
    }
}

#map { height: 100%; }

/* Basic infobox */
.box {
    $width: 304px;
    $pT: 22px;
    $pB: 27px;
    $pR: 24px;
    $pL: 35px;

    position:relative;
    width: $width;

    .content {
        .header {
            hgroup { // header titles
                width: 230px;

                h2 { padding: 0 0 19px 0; margin: 0 0 19px 0; font-family: 'News Cycle', sans-serif; color:$dark_gray; border-bottom: 2px solid $dark_gray; line-height:22px;}
                h2.no_border { border:none; padding: 0; }
                h4 { margin: 0 0 6px 0; color:$gold; opacity:.6; text-transform:uppercase; }
            }
        } // header

        width: $width - $pL - $pR;
        padding: $pT $pR $pB $pL;
        background:url(../img/backgrounds/bkg_box.png) repeat-y -305px top;

    } // content

    // top & bottom
    $endsHeight: 15px;
    .t, .b { position:absolute; width:100%; background:url(../img/backgrounds/bkg_box.png) no-repeat left bottom; height:$endsHeight; left: 0; }
    .t { top: -1*$endsHeight; background-position:-610px bottom;}
    .b { bottom: -1*$endsHeight; background-position:left bottom;}
} // box

// Infobox components
.box {
    .content {
        a { font-size:11px; font-weight:bold; text-transform: uppercase; }
        h4 { margin: 0 0 5px 0; text-transform: uppercase; color:$light_gray; }

        ul { 
            list-style:none;
            margin: 0 0 19px 0;

            &:last-child { margin: 0; }

            li { 
                margin: 0 0 7px 0;
                color: $dark_gray;
                font-size:15px;
                line-height:22px;
                padding-left: 9px;
                margin-left: -9px;
                @include icons-sprite(bullet, $offset-y: 10px);
                &:last-child { margin-bottom: 0; }

                a { font-size:15px; color: #333333; text-transform: none; font-weight:normal; padding: 0 0 2px 0; border-bottom: 1px dashed $subtle_gray; }
            }
        } // ul

        a.btn { 
            padding: 11px 0 10px 0;
            margin: 0 0 20px 0;
            display:block;
            color:#fff;
            background-color: #0D5FB2;
            width:230px;
            height:34px - 11 - 10;
            text-align:center;
            @include border-radius(3px);
        }
    } // content


    a.close { display:block; position:absolute; top: -18px; right: -7px; @include icons-sprite(close); z-index:1000; width:24px; height:24px; }

    // Configuration of the elements for the different infoboxes 
    &.blue .content a.btn { background-color: #0D5FB2; }
}

/* Golden box */
.box.golden {

    .header hgroup { // header titles
        h2 { border-color:$gold; }
        h4 { color:$gold; }
    }
} // golden box

/* Green box */
.box.green {
    .header hgroup { // header titles

        h2 { border-color:$green; }
        h4 { color:$green; }
    }
} // green box


/* Blue box */
.box.blue {
    .header hgroup { // header titles
        h2 { border-color:$blue; }
        h4 { color:$blue; }
    }
} // blue box

// Temporary positioning TODO: get rid of it
.box.golden { position:absolute; top: 300px; left: 100px; }
.box.green { position:absolute;  top: 300px; left: 500px; }
.box.blue { position:absolute;   top: 300px; left: 900px; }

nav ul li {
    position:relative;

    // Filter horizontal position
    &:nth-child(1) .filter { right: -5px; }
    &:nth-child(2) .filter { right: 3px; }
    &:nth-child(3) .filter { right: -2px; }
}

nav ul li .filter {

    $width: 236px;
    $leftPadding: 25px;
    $rightPadding: 25px;

    display:none;
    position:absolute;
    width:$width;
    top: 35px; 
    right:-4px; // default filter position
    z-index:100;

    .content {
        width:$width - $leftPadding - $rightPadding;
        background:url(../img/backgrounds/bkg_filter.png) repeat-y -242px bottom;
        padding: 13px $rightPadding 7px $leftPadding;
    }

    div.t { position:absolute; top: -55px; left: 0; width:$width; height: 55px; background:url(../img/backgrounds/bkg_filter.png) no-repeat left top; }
    div.b { position:absolute; bottom: -13px; left: 0; width:$width; height: 13px; background:url(../img/backgrounds/bkg_filter.png) no-repeat -492px top; }

    &.view {
        $width: 220px;
        $leftPadding: 0;
        $rightPadding: 0;

        width:$width;

        div.content {
            width: $width - $leftPadding - $rightPadding;
            background:url(../img/backgrounds/bkg_view_filter.png) repeat-y -222px bottom;
            padding:0;
            padding: 13px $rightPadding 7px $leftPadding;
        }

        div.t { top: -55px; width:$width; height: 55px; background:url(../img/backgrounds/bkg_view_filter.png) no-repeat left top; }
        div.b { bottom: -13px; width:$width; height: 13px; background:url(../img/backgrounds/bkg_view_filter.png) no-repeat -444px top; }
    } // view

    &.big {
        $width: 316px;
        $leftPadding: 0;
        $rightPadding: 0;

        width:$width;

        div.content {
            width: $width - $leftPadding - $rightPadding;
            background:url(../img/backgrounds/bkg_big_filter.png) repeat-y -322px bottom;
            padding:0;
            padding: 13px $rightPadding 7px $leftPadding;
        }

        div.t { top: -55px; width:$width; height: 55px; background:url(../img/backgrounds/bkg_big_filter.png) no-repeat left top; }
        div.b { bottom: -13px; width:$width; height: 13px; background:url(../img/backgrounds/bkg_big_filter.png) no-repeat -641px top; }
    } // big

} // filter

// Filter components
nav ul li .filter.view { 
    div.content {

        ul { 
            position:relative;
            top: 0;
            left: 0px;
            float:left;
            width:172px;
            padding: 0;
            margin:0;

            $liLeftMargin: 14px;

            &.symbols {
                float:left; 
                width:40px;
                margin-left: 5px;

                li {
                    border: none;
                    padding: 0 0 11px 14px;
                    margin: 0 0 12px 0;
                    background:none;
                    border-bottom: 1px solid #E5E5E5;
                    &:last-child { margin: 0; }

                    .icon {
                        width:14px;
                        height:14px;
                        @include icons-sprite(view);
                        &.projects { @include icons-sprite(view);}
                        &.agencies { @include icons-sprite(view, $offset-y:-59px);}
                    }
                } // li
            } // symbols

            &.ticks {
                margin-left: 0;

                li { 
                    margin-bottom: 0;

                    &:first-child { 
                        padding-top: 0;
                        background-position: $liLeftMargin -86px;
                        &.selected { background-position: $liLeftMargin -59px; }
                    }


                    &:last-child { 
                        padding-bottom:0;
                        margin-bottom: 0!important;
                        border:none;
                    }

                    background-position: $liLeftMargin -73px;
                    &.selected { background-position: $liLeftMargin -46px; }
                }
            }

            li { 
                width:auto;
                margin: 0;
                padding: 12px 0 11px 35px;
                border-bottom: 1px solid #f1f1f1;
                cursor:pointer;
                a { display:block; width:154px; }
            }

        } // ul
    }
}
nav ul li .filter.big { 
    div.content {

        h3 {
            float: left;
            width: 82px;
            left: 0;
            margin-left:4px;
            padding: 0 0 0 17px;
            font-weight: 100;
            font-size: 11px;
            &.topic { margin-top: -1px; padding-top: 10px; border-top: 1px solid #E5E5E5;}
        }

        ul { 
            position:relative;
            top: 0;
            left: 0px;
            float:left;
            width:209px;
            padding: 0;
            margin:0;

            $liLeftMargin: 14px;

            &.ticks li { 
                &:last-child { 
                    padding-bottom:0;
                    border:none;
                }

                background-position: $liLeftMargin -73px;
                &.selected { background-position: $liLeftMargin -46px; }
            }

            &.radio li { 
                &:first-child { 
                    padding-top:0;
                    background-position: $liLeftMargin -28px;
                    &.selected { background-position: $liLeftMargin 2px; }
                }
                background-position: $liLeftMargin -16px;
                &.selected { background-position: $liLeftMargin 14px; }
            }

            li { 
                width:auto;
                margin: 0;
                padding: 12px 0 11px 35px;
                border-bottom: 1px solid #f1f1f1;
                cursor:pointer;
                a { display:block; width:154px; }
            }

        } // ul
    }
}

nav ul li .filter {
    .content {
        h3 { margin: 0 0 19px 0; font-family: 'News Cycle', sans-serif; font-size:14px; color: $subtle_gray; text-transform:uppercase; }

        // reset nav ul inherited styles 
        ul { position:none; top: 0; float:none; }
        ul li { display:block; margin:0; }

        ul.ticks {
            li { 
                background:url(../img/icons/icons.png) no-repeat left -66px; 
                &.selected { background:url(../img/icons/icons.png) no-repeat left -44px; }
            }
        }

        ul.radio {
            li { 
                margin: 0 0 5px 0;
                background:url(../img/icons/icons.png) no-repeat left -21px; 
                &.selected { background:url(../img/icons/icons.png) no-repeat left 3px; }
            }
        }

        ul {
            margin: 0 0 20px 0;

            li {
                width:177px;
                margin: 0 0 14px 0;
                padding-left: 20px;
                background:url(../img/icons/icons.png) no-repeat left -66px; 
                cursor:pointer;

                &.selected {
                    background:url(../img/icons/icons.png) no-repeat left -44px; 
                    a { color: $standard_gray; }
                }

                a {
                    font-family: "Helvetica Neue", sans-serif;
                    font-weight:bold;
                    font-size:11px;
                    color: $light_gray;
                    text-transform: uppercase;
                    line-height:14px;
                }
            }
        }

        hr { border: none; border-bottom: 1px solid rgba(0,0,0,.2); width: 229px; left: -21px; position: relative; margin-bottom:20px; }

    } // content
} // filter
