/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass/css3";
@import url(http://fonts.googleapis.com/css?family=News+Cycle);

$title_blue:    #0C5FB2;

$blue:          #104C6B;
$light_blue:    #1B93CF;
$dark_blue:     #0F445E;

$gold:          #9A6100;
$light_gold:    #FFCC00;
$dark_gold:     #845412;

$green:         #5F7232;
$light_green:   #B2E053;
$dark_green:    #52642A;

$link_color:    #1872A0; // #156690
$line_color:    #A1A1A0;
$standard_gray: #666666;
$light_gray:    #BBBBBB;
$dark_gray:     #333333;

body {
font-family: "Helvetica Neue", sans-serif;
font-size: 15px;
color:$dark_gray;
}

a { color:#000; text-decoration: none; }

h1 {
  font-family: 'News Cycle', sans-serif;
  color: $title_blue;
  font-weight:normal;
  font-size:42px;
  text-transform: lowercase;
}

h2, h3, h4, h5 { font-family: "Helvetica Neue", sans-serif; }

h2 { font-size: 18px; font-weight:bold; }
h3 { font-size: 11px; font-weight:bold; }
h4 { font-size: 11px; font-weight:bold; }

.content { width:980px; margin: auto; }

/* Navigation */
nav {
  height: 80px;
  background:url(../img/backgrounds/bkg_navigation.png) repeat-x;

  h1 { position:relative; top: 10px; float:left; }

  ul { // Main menu
    position:relative;
    top: 30px;
    float:right; 

    li {
      display:inline; 
      margin-left: 26px;

      a { font-size:19px; color: #000000; text-transform: uppercase; font-family: 'News Cycle', sans-serif; }
}
}
}
.map {
  padding: 50px;

}

/* Basic infobox */

.box {
  $header_height: 119px;

  position:relative;
  width: 304px;

  .header {
    background: url(../img/backgrounds/bkg_box_top_gold.png) repeat-y;
    position:absolute;
    width: 304px - 35*2;
    height:$header_height - 70;
    top:-$header_height;
    padding: 35px;

    hgroup { // header titles
      width: 220px;
      
      h2 { color:#fff; @include text-shadow(1px 1px 1px $dark_gold);}
      h3 { @include text-shadow(1px 1px 1px $light_gold); margin: 0 0 8px 0; color:$gold; opacity:.6; text-transform:uppercase; }
  }
} // header

.content {

  width: 304px - 43*2;
  padding: 29px 43px 5px 43px;
  background:url(../img/backgrounds/bkg_boxes.png) repeat-y -944px top;
  
  h4 { margin: 0 0 10px 0; text-transform: uppercase; color:$light_gray; }

  ul { 
    list-style:square;
    margin: 0 0 29px 0;

    &:last-child { margin: 0; }

    li { 
      margin: 0 0 7px 0;
      color: $dark_gray;
      font-size:15px;
      line-height:22px;

      a { border-bottom: 1px dotted #4C4C4C; }
    }
  }
} // content
.footer { width:100%; background:url(../img/backgrounds/bkg_boxes.png) no-repeat -631px bottom; height:13px; position:absolute; left: 0; bottom: -13px; }
} // box

/* Golden box */
.box.golden {
  .header { background: url(../img/backgrounds/bkg_box_top_gold.png) repeat-y; }

  .header hgroup { // header titles
    @include text-shadow(1px 1px 1px $light_gold);
    h2 { color:#fff; @include text-shadow(1px 1px 1px $dark_gold);}
    h3 { color:$gold; }
}

.content { background-position: -944px top; }
.footer { background-position: -631px bottom; }
} // golden box

/* Green box */
.box.green {
  .header { background: url(../img/backgrounds/bkg_box_top_green.png) repeat-y; }

  .header hgroup { // header titles
    
    h2 { color:#fff; @include text-shadow(1px 1px 1px $dark_green);}
    h3 { @include text-shadow(1px 1px 1px $light_green); color:$green; }
}

.content { background-position: -308px top; }
.footer { background-position: left bottom; }
} // green box


/* Blue box */
.box.blue {
  .header { background: url(../img/backgrounds/bkg_box_top_blue.png) repeat-y; }

  .header hgroup { // header titles
    
    h2 { color:#fff; @include text-shadow(1px 1px 1px $dark_blue);}
    h3 { @include text-shadow(1px 1px 1px $light_blue); color:$blue; }
}

.content { background-position: -1566px top; }
.footer { background-position: -1259px bottom; }
} // green box

.box.golden { position:absolute; top: 300px; left: 100px; }
.box.green { position:absolute;  top: 300px; left: 500px; }
.box.blue { position:absolute;   top: 300px; left: 900px; }
