@import url(http://fonts.googleapis.com/css?family=News+Cycle);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/*** SPRITES ***/
/* icons */
.icons-sprite, .icons-agency, .icons-arrows, .icons-ashoka, .icons-bullet, .icons-calendar, .icons-close, .icons-close_big, .icons-gear, .icons-handle, .icons-iati, .icons-icons, .icons-marker, .icons-markers, .icons-money, .icons-plus, .icons-star, .icons-symbols, .icons-view, .box .content ul li, .box a.close, nav ul li .filter.iati .content ul.symbols > li .icon, nav ul li .filter.iati .content ul.symbols > li .icon.iati, nav ul li .filter.view div.content ul.symbols li .icon, nav ul li .filter.view div.content ul.symbols li .icon.projects, nav ul li .filter.view div.content ul.symbols li .icon.agencies, nav ul li .filter.view div.content ul.symbols li .icon.ashokas, aside .content ul li.money, aside .content ul li.calendar, aside .content ul li.marker, aside .content ul li.gear, aside .content ul li.plus, aside .content ul li.star, aside a.close, #timeline .handle, .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus, .ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, .stations > .marker, .stations > .marker.agencies, .stations > .marker.ashokas {
  background: url('img/icons-s7c5aa32bd0.png') no-repeat;
}

.icons-agency {
  background-position: 0 0;
}

.icons-arrows {
  background-position: 0 -14px;
}

.icons-ashoka {
  background-position: 0 -104px;
}

.icons-bullet {
  background-position: 0 -148px;
}

.icons-calendar {
  background-position: 0 -201px;
}

.icons-close {
  background-position: 0 -267px;
}

.icons-close_big {
  background-position: 0 -291px;
}

.icons-gear {
  background-position: 0 -373px;
}

.icons-handle {
  background-position: 0 -439px;
}

.icons-iati {
  background-position: 0 -457px;
}

.icons-icons {
  background-position: 0 -474px;
}

.icons-marker {
  background-position: 0 -624px;
}

.icons-markers {
  background-position: 0 -693px;
}

.icons-money {
  background-position: 0 -757px;
}

.icons-plus {
  background-position: 0 -827px;
}

.icons-star {
  background-position: 0 -890px;
}

.icons-symbols {
  background-position: 0 -955px;
}

.icons-view {
  background-position: 0 -1108px;
}

/* backgrounds */
.backgrounds-sprite, .backgrounds-bkg_big_filter, .backgrounds-bkg_box, .backgrounds-bkg_boxes, .backgrounds-bkg_filter, .backgrounds-bkg_iati_filter, .backgrounds-bkg_navigation, .backgrounds-bkg_navigation_shadow, .backgrounds-bkg_paper, .backgrounds-bkg_timeline, .backgrounds-bkg_timeline_selected, .backgrounds-bkg_view_filter, #timeline {
  background: url('/img/backgrounds-s88c74f6a2b.png') no-repeat;
}

.backgrounds-bkg_big_filter {
  background-position: 0 0;
}

.backgrounds-bkg_box {
  background-position: 0 -55px;
}

.backgrounds-bkg_boxes {
  background-position: 0 -70px;
}

.backgrounds-bkg_filter {
  background-position: 0 -83px;
}

.backgrounds-bkg_iati_filter {
  background-position: 0 -138px;
}

.backgrounds-bkg_navigation {
  background-position: 0 -193px;
}

.backgrounds-bkg_navigation_shadow {
  background-position: 0 -273px;
}

.backgrounds-bkg_paper {
  background-position: 0 -285px;
}

.backgrounds-bkg_timeline {
  background-position: 0 -959px;
}

.backgrounds-bkg_timeline_selected {
  background-position: 0 -1039px;
}

.backgrounds-bkg_view_filter {
  background-position: 0 -1107px;
}

/* For modern browsers */
.cf:before,
.cf:after {
  content: "";
  display: table;
}

.cf:after {
  clear: both;
}

/* For IE 6/7 (trigger hasLayout) */
.cf {
  zoom: 1;
}

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 15px;
  color: #333333;
}

a {
  color: #000;
  text-decoration: none;
}

h1 {
  font-family: 'News Cycle', sans-serif;
  color: #0c5fb2;
  font-weight: normal;
  font-size: 42px;
  text-transform: lowercase;
}

h2, h3, h4, h5 {
  font-family: "Helvetica Neue", sans-serif;
}

h2 {
  font-size: 21px;
  font-weight: bold;
}

h3 {
  font-size: 14px;
  font-weight: bold;
}

h4 {
  font-size: 11px;
  font-weight: bold;
}

.content {
  width: 980px;
  margin: auto;
}

/* Navigation */
nav {
  height: 80px;
  background: url(../img/backgrounds/bkg_navigation.png) repeat-x;
  position: relative;
  z-index: 1000;
}
nav h1 {
  position: relative;
  top: 10px;
  float: left;
}
nav .shadow {
  position: absolute;
  left: 0;
  bottom: -12px;
  background: url(../img/backgrounds/bkg_navigation_shadow.png) repeat-x;
  width: 100%;
  height: 12px;
  z-index: 10;
}
nav ul {
  position: relative;
  top: 30px;
  float: right;
}
nav ul > li {
  display: inline;
  margin-left: 26px;
}
nav ul > li > a {
  position: relative;
  padding-right: 10px;
  font: 19px 'News Cycle', sans-serif;
  color: #000000;
  text-transform: uppercase;
  background: url(../img/icons/arrows.png) no-repeat right 15px;
  z-index: 150;
}
nav ul > li > a.selected {
  background: url(../img/icons/arrows.png) no-repeat right -45px;
}

.box {
  position: absolute;
  width: 304px;
}
.box .content {
  width: 245px;
  padding: 22px 24px 27px 35px;
  background: url(../img/backgrounds/bkg_box.png) repeat-y -305px top;
}
.box .content .header hgroup {
  width: 230px;
}
.box .content .header hgroup h2 {
  padding: 0 0 19px 0;
  margin: 0 0 19px 0;
  font-family: 'News Cycle', sans-serif;
  color: #333333;
  border-bottom: 2px solid #333333;
  line-height: 1.1;
}
.box .content .header hgroup h2.no_border {
  border: none;
  padding: 0;
}
.box .content .header hgroup h4 {
  margin: 0 0 6px 0;
  color: #e69525;
  opacity: .6;
  text-transform: uppercase;
}
.box .t, .box .b {
  position: absolute;
  width: 100%;
  background: url(../img/backgrounds/bkg_box.png) no-repeat left bottom;
  height: 15px;
  left: 0;
}
.box .t {
  top: -15px;
  background-position: -610px bottom;
}
.box .b {
  bottom: -15px;
  background-position: left bottom;
}

.box .content a {
  font-size: 11px;
  font-weight: bold;
  text-transform: uppercase;
}
.box .content h4 {
  margin: 0 0 5px 0;
  text-transform: uppercase;
  color: #bbbbbb;
}
.box .content ul {
  list-style: none;
  margin: 0 0 19px 0;
}
.box .content ul:last-child {
  margin: 0;
}
.box .content ul li {
  margin: 0 0 7px 0;
  color: #333333;
  font-size: 15px;
  line-height: 22px;
  padding-left: 9px;
  margin-left: -9px;
  background-position: 0 -138px;
}
.box .content ul li:last-child {
  margin-bottom: 0;
}
.box .content ul li a {
  font-size: 15px;
  color: #333333;
  text-transform: none;
  font-weight: normal;
  padding: 0 0 2px 0;
  border-bottom: 1px dashed #999999;
}
.box .content a.btn {
  display: block;
  padding: 11px 0 10px 0;
  margin: 0 0 20px 0;
  width: 230px;
  height: 13px;
  color: #fff;
  background-color: #0D5FB2;
  text-align: center;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
}
.box a.close {
  display: block;
  position: absolute;
  top: -18px;
  right: -7px;
  background-position: 0 -267px;
  z-index: 1000;
  width: 24px;
  height: 24px;
}
.box.project .content a.btn {
  background-color: #0D5FB2;
}

.box.agencies .header hgroup h2 {
  border-color: #e69525;
}
.box.agencies .header hgroup h4 {
  color: #e69525;
}

.box.ashokas .header hgroup h2 {
  border-color: #76a228;
}
.box.ashokas .header hgroup h4 {
  color: #76a228;
}

.box.project .header hgroup h2 {
  border-color: #104c6b;
}
.box.project .header hgroup h4 {
  color: #104c6b;
}

nav ul li {
  position: relative;
}
nav ul li:nth-child(1) .filter {
  right: -8px;
}
nav ul li:nth-child(2) .filter {
  right: -10px;
}
nav ul li:nth-child(3) .filter {
  right: -14px;
}

nav ul li .filter {
  display: none;
  position: absolute;
  width: 236px;
  top: 35px;
  right: -4px;
  z-index: 100;
}
nav ul li .filter .content {
  width: 186px;
  background: url(../img/backgrounds/bkg_filter.png) repeat-y -242px bottom;
  padding: 13px 25px 7px 25px;
}
nav ul li .filter div.t {
  position: absolute;
  top: -55px;
  left: 0;
  width: 236px;
  height: 55px;
  background: url(../img/backgrounds/bkg_filter.png) no-repeat left top;
}
nav ul li .filter div.b {
  position: absolute;
  bottom: -13px;
  left: 0;
  width: 236px;
  height: 13px;
  background: url(../img/backgrounds/bkg_filter.png) no-repeat -492px top;
}
nav ul li .filter.iati {
  width: 173px;
}
nav ul li .filter.iati div.content {
  width: 173px;
  background: url(../img/backgrounds/bkg_iati_filter.png) repeat-y -173px bottom;
  padding: 3px 0 3px 0;
}
nav ul li .filter.iati div.t {
  top: -55px;
  width: 173px;
  height: 55px;
  background: url(../img/backgrounds/bkg_iati_filter.png) no-repeat left top;
}
nav ul li .filter.iati div.b {
  bottom: -13px;
  width: 173px;
  height: 13px;
  background: url(../img/backgrounds/bkg_iati_filter.png) no-repeat right top;
}
nav ul li .filter.view {
  width: 220px;
}
nav ul li .filter.view div.content {
  width: 220px;
  background: url(../img/backgrounds/bkg_view_filter.png) repeat-y -222px bottom;
  padding: 13px 0 7px 0;
}
nav ul li .filter.view div.t {
  top: -55px;
  width: 220px;
  height: 55px;
  background: url(../img/backgrounds/bkg_view_filter.png) no-repeat left top;
}
nav ul li .filter.view div.b {
  bottom: -13px;
  width: 220px;
  height: 13px;
  background: url(../img/backgrounds/bkg_view_filter.png) no-repeat -444px top;
}
nav ul li .filter.filters {
  width: 316px;
}
nav ul li .filter.filters div.content {
  width: 316px;
  background: url(../img/backgrounds/bkg_big_filter.png) repeat-y -322px bottom;
  padding: 13px 0 7px 0;
}
nav ul li .filter.filters div.t {
  top: -55px;
  width: 316px;
  height: 55px;
  background: url(../img/backgrounds/bkg_big_filter.png) no-repeat left top;
}
nav ul li .filter.filters div.b {
  bottom: -13px;
  width: 316px;
  height: 13px;
  background: url(../img/backgrounds/bkg_big_filter.png) no-repeat -641px top;
}

nav ul li .filter.iati .content div.legend {
  position: relative;
  left: 10px;
  width: 100px;
  float: left;
}
nav ul li .filter.iati .content h3 {
  color: #666666;
  font: 11px "Helvetica Neue", sans-serif;
  font-weight: bold;
  border: none;
  margin: 0 0 7px 0;
}
nav ul li .filter.iati .content p {
  font-style: italic;
  font-size: 11px;
  color: #999999;
  line-height: 13px;
}
nav ul li .filter.iati .content p a {
  font-style: italic;
  font: 11px "Helvetica Neue", sans-serif;
  color: #999999;
  text-transform: none;
  text-decoration: underline;
}
nav ul li .filter.iati .content ul {
  position: relative;
  top: 0;
  left: 0;
  float: left;
  width: 100px;
  padding: 0;
  margin: 0;
}
nav ul li .filter.iati .content ul.symbols {
  float: left;
  width: 38px;
  margin-left: 5px;
}
nav ul li .filter.iati .content ul.symbols > li {
  width: auto;
  padding: 0 0 11px 10px;
  margin: 0 0 12px 0;
  background: none;
}
nav ul li .filter.iati .content ul.symbols > li:last-child {
  margin: 0;
}
nav ul li .filter.iati .content ul.symbols > li .icon {
  width: 18px;
  height: 17px;
  background-position: 0 -457px;
}
nav ul li .filter.iati .content ul.symbols > li .icon.iati {
  background-position: 0 -457px;
}

nav ul li .filter.view div.content ul {
  position: relative;
  top: 0;
  left: 0px;
  float: left;
  width: 172px;
  padding: 0;
  margin: 0;
}
nav ul li .filter.view div.content ul.symbols {
  float: left;
  width: 40px;
  margin-left: 5px;
}
nav ul li .filter.view div.content ul.symbols li {
  border: none;
  padding: 0 0 11px 14px;
  margin: 0 0 12px 0;
  background: none;
  border-bottom: 1px solid #E5E5E5;
}
nav ul li .filter.view div.content ul.symbols li:last-child {
  margin: 0;
  border: 0;
  padding-bottom: 0;
}
nav ul li .filter.view div.content ul.symbols li .icon {
  width: 14px;
  height: 14px;
  background-position: 0 -1108px;
}
nav ul li .filter.view div.content ul.symbols li .icon.projects {
  background-position: 0 -1108px;
}
nav ul li .filter.view div.content ul.symbols li .icon.agencies {
  background-position: 0 -1167px;
}
nav ul li .filter.view div.content ul.symbols li .icon.ashokas {
  background-position: 0 -1228px;
}
nav ul li .filter.view div.content ul.ticks {
  margin-left: 0;
}
nav ul li .filter.view div.content ul.ticks li {
  margin-bottom: 0;
  background-position: 14px -73px;
}
nav ul li .filter.view div.content ul.ticks li:first-child {
  padding-top: 0;
  background-position: 14px -86px;
}
nav ul li .filter.view div.content ul.ticks li:first-child.selected {
  background-position: 14px -59px;
}
nav ul li .filter.view div.content ul.ticks li:last-child {
  padding-bottom: 0;
  margin-bottom: 0!important;
  border: none;
}
nav ul li .filter.view div.content ul.ticks li.selected {
  background-position: 14px -46px;
}
nav ul li .filter.view div.content ul li {
  width: auto;
  margin: 0;
  padding: 12px 0 11px 35px;
  border-bottom: 1px solid #f1f1f1;
}
nav ul li .filter.view div.content ul li a {
  display: block;
  width: 128px;
}

nav ul li .filter.filters div.content h3 {
  float: left;
  width: 82px;
  left: 0;
  margin-left: 4px;
  padding: 0 0 0 17px;
  font-weight: 100;
  font-size: 11px;
}
nav ul li .filter.filters div.content h3.topic {
  margin-top: -1px;
  padding-top: 10px;
  border-top: 1px solid #E5E5E5;
}
nav ul li .filter.filters div.content ul {
  float: left;
  position: relative;
  top: 0;
  left: 0px;
  width: 209px;
  padding: 0;
  margin: 0;
}
nav ul li .filter.filters div.content ul.ticks li {
  cursor: pointer;
  background-position: 14px -73px;
}
nav ul li .filter.filters div.content ul.ticks li:last-child {
  padding-bottom: 0;
  border: none;
}
nav ul li .filter.filters div.content ul.ticks li.selected {
  background-position: 14px -46px;
}
nav ul li .filter.filters div.content ul.radio li {
  cursor: pointer;
  background-position: 14px -16px;
}
nav ul li .filter.filters div.content ul.radio li:first-child {
  padding-top: 0;
  background-position: 14px -28px;
}
nav ul li .filter.filters div.content ul.radio li:first-child.selected {
  background-position: 14px 2px;
}
nav ul li .filter.filters div.content ul.radio li.selected {
  background-position: 14px 14px;
}
nav ul li .filter.filters div.content ul li {
  width: auto;
  margin: 0;
  padding: 12px 0 11px 35px;
  border-bottom: 1px solid #f1f1f1;
}
nav ul li .filter.filters div.content ul li a {
  display: block;
  width: 174px;
}

nav ul li .filter .content h3 {
  margin: 0 0 19px 0;
  font-family: 'News Cycle', sans-serif;
  font-size: 14px;
  color: #999999;
  text-transform: uppercase;
}
nav ul li .filter .content ul {
  position: none;
  top: 0;
  float: none;
}
nav ul li .filter .content ul li {
  display: block;
  margin: 0;
}
nav ul li .filter .content ul.ticks li {
  background: url(../img/icons/icons.png) no-repeat left -66px;
}
nav ul li .filter .content ul.ticks li.selected {
  background: url(../img/icons/icons.png) no-repeat left -44px;
}
nav ul li .filter .content ul.radio li {
  margin: 0 0 5px 0;
  background: url(../img/icons/icons.png) no-repeat left -21px;
}
nav ul li .filter .content ul.radio li.selected {
  background: url(../img/icons/icons.png) no-repeat left 3px;
}
nav ul li .filter .content ul {
  margin: 0 0 20px 0;
}
nav ul li .filter .content ul li {
  width: 177px;
  margin: 0 0 14px 0;
  padding-left: 20px;
  background: url(../img/icons/icons.png) no-repeat left -66px;
}
nav ul li .filter .content ul li.selected {
  background: url(../img/icons/icons.png) no-repeat left -44px;
}
nav ul li .filter .content ul li.selected a {
  color: #666666;
}
nav ul li .filter .content ul li a {
  font-family: "Helvetica Neue", sans-serif;
  font-weight: bold;
  font-size: 11px;
  color: #bbbbbb;
  text-transform: uppercase;
  line-height: 14px;
}
nav ul li .filter .content hr {
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  width: 229px;
  left: -21px;
  position: relative;
  margin-bottom: 20px;
}

aside {
  position: absolute;
  top: 80px;
  right: -400px;
  background: #fff;
  width: 358px;
  height: 100%;
  background: transparent url(../img/backgrounds/bkg_paper.png) left top repeat-y;
  z-index: 10;
}
aside .content {
  background: #fff;
  height: 100%;
  width: 301px;
  padding: 31px 24px 27px 33px;
  margin-left: 10px;
}
aside .content h4 {
  margin: 0 0 5px 0;
  text-transform: uppercase;
  color: #bbbbbb;
}
aside .content ul {
  width: 283px;
}
aside .content ul li {
  padding: 19px 0 19px 30px;
  font-size: 15px;
  color: #333333;
  border-bottom: 1px solid #E5E5E5;
}
aside .content ul li.money {
  background-position: 0 -729px;
}
aside .content ul li.calendar {
  background-position: 0 -173px;
}
aside .content ul li.marker {
  background-position: 0 -596px;
}
aside .content ul li.gear {
  background-position: 0 -345px;
}
aside .content ul li.plus {
  background-position: 0 -799px;
}
aside .content ul li.star {
  background-position: 0 -862px;
}
aside .content ul li:last-child {
  border: none;
}
aside .content ul li a {
  border-bottom: 1px dashed #ccc;
}
aside .content .header hgroup {
  width: 283px;
}
aside .content .header hgroup h2 {
  padding: 0 0 30px 0;
  font-family: 'News Cycle', sans-serif;
  color: #333333;
  border-bottom: 2px solid #1b93cf;
  line-height: 22px;
}
aside .content .header hgroup h2.no_border {
  border: none;
  padding: 0;
}
aside .content .header hgroup h4 {
  margin: 0 0 6px 0;
  color: #104c6b;
  opacity: .6;
  text-transform: uppercase;
}
aside a.close {
  display: block;
  position: absolute;
  top: 47px;
  left: -10px;
  background-position: 0 -291px;
  z-index: 1000;
  width: 32px;
  height: 32px;
}

#map {
  top: -80px;
  height: 100%;
  z-index: 7;
}

#timeline {
  position: absolute;
  bottom: 19px;
  height: 80px;
  width: 954px;
  background-position: 0 -959px;
  left: 50%;
  margin-left: -477px;
  z-index: 10000;
}
#timeline .slider {
  position: absolute;
  width: 943px;
  height: 80px;
  left: 6px;
}
#timeline .handle {
  position: absolute;
  width: 17px;
  height: 18px;
  background-position: 0 -439px;
  top: 31px;
}
#timeline .handle.min {
  left: 100px;
}
#timeline .handle.max {
  left: 700px;
}

.ui-helper-hidden {
  display: none;
}

.ui-helper-hidden-accessible {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
}

.ui-helper-reset {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  line-height: 1.3;
  text-decoration: none;
  font-size: 100%;
  list-style: none;
}

.ui-helper-clearfix:before, .ui-helper-clearfix:after {
  content: "";
  display: table;
}

.ui-helper-clearfix:after {
  clear: both;
}

.ui-helper-clearfix {
  zoom: 1;
}

.ui-helper-zfix {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  opacity: 0;
  filter: Alpha(Opacity=0);
}

/* Interaction Cues
----------------------------------*/
.ui-state-disabled {
  cursor: default !important;
}

/* Icons
----------------------------------*/
/* states and images */
.ui-icon {
  display: block;
  text-indent: -99999px;
  overflow: hidden;
  background-repeat: no-repeat;
}

/* Misc visuals
----------------------------------*/
/* Overlays */
.ui-widget-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Component containers
----------------------------------*/
.ui-widget-header {
  background: url(../img/backgrounds/bkg_timeline_selected.png) 50% 50% repeat-x;
  color: #ffffff;
  font-weight: bold;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
  display: block;
  width: 17px;
  height: 18px;
  background-position: 0 -439px;
  ountline: none;
  cursor: pointer;
}

.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus {
  display: block;
  cursor: pointer;
  width: 17px;
  height: 18px;
  background-position: 0 -439px;
  outline: none;
}

.ui-state-hover a, .ui-state-hover a:hover {
  color: #c77405;
  text-decoration: none;
  outline: none;
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
  width: 17px;
  height: 18px;
  background-position: 0 -439px;
  outline: none;
}

.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited {
  color: #eb8f00;
  text-decoration: none;
  outline: none;
}

.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
  border: 1px solid #fed22f;
  background: #ffe45c url(images/ui-bg_highlight-soft_75_ffe45c_1x100.png) 50% top repeat-x;
  color: #363636;
}

.ui-state-highlight a, .ui-widget-content .ui-state-highlight a, .ui-widget-header .ui-state-highlight a {
  color: #363636;
}

.ui-state-error, .ui-widget-content .ui-state-error, .ui-widget-header .ui-state-error {
  border: 1px solid #cd0a0a;
  background: #b81900 url(images/ui-bg_diagonals-thick_18_b81900_40x40.png) 50% 50% repeat;
  color: #ffffff;
}

.ui-state-error a, .ui-widget-content .ui-state-error a, .ui-widget-header .ui-state-error a {
  color: #ffffff;
}

.ui-state-error-text, .ui-widget-content .ui-state-error-text, .ui-widget-header .ui-state-error-text {
  color: #ffffff;
}

.ui-priority-primary, .ui-widget-content .ui-priority-primary, .ui-widget-header .ui-priority-primary {
  font-weight: bold;
}

.ui-priority-secondary, .ui-widget-content .ui-priority-secondary, .ui-widget-header .ui-priority-secondary {
  opacity: .7;
  filter: Alpha(Opacity=70);
  font-weight: normal;
}

.ui-state-disabled, .ui-widget-content .ui-state-disabled, .ui-widget-header .ui-state-disabled {
  opacity: .35;
  filter: Alpha(Opacity=35);
  background-image: none;
}

/* Misc visuals
----------------------------------*/
.ui-slider {
  position: relative;
  text-align: left;
}

.ui-slider .ui-slider-handle {
  position: absolute;
  z-index: 2;
  width: 1.2em;
  height: 1.2em;
  cursor: default;
}

.ui-slider .ui-slider-range {
  position: absolute;
  z-index: 1;
  font-size: .7em;
  display: block;
  border: 0;
  background-position: 0 0;
}

.ui-slider-horizontal {
  height: .8em;
}

.ui-slider-horizontal .ui-slider-handle {
  cursor: col-resize;
  display: block;
  top: 30px;
  margin-left: -0.6em;
}

.ui-slider-horizontal .ui-slider-range {
  top: 6px;
  height: 68px;
}

.ui-slider-horizontal .ui-slider-range-min {
  left: 0;
}

.ui-slider-horizontal .ui-slider-range-max {
  right: 0;
}

.ui-slider-vertical {
  width: .8em;
  height: 100px;
}

.ui-slider-vertical .ui-slider-handle {
  left: -0.3em;
  margin-left: 0;
  margin-bottom: -0.6em;
}

.ui-slider-vertical .ui-slider-range {
  left: 0;
  width: 100%;
}

.ui-slider-vertical .ui-slider-range-min {
  bottom: 0;
}

.ui-slider-vertical .ui-slider-range-max {
  top: 0;
}

#wifi_list {
  display: none;
  position: absolute;
  top: 100px;
  left: 100px;
  z-index: 1000;
}

.stations {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: visible;
}

.stations svg {
  position: absolute;
}

.stations svg {
  width: 14px;
  height: 14px;
}

.stations > .marker {
  position: absolute;
  width: 14px;
  height: 14px;
  background-position: 0 -693px;
  cursor: pointer;
}
.stations > .marker.agencies {
  background-position: 0 -693px;
}
.stations > .marker.ashokas {
  background-position: -14px -693px;
}

.infowindow {
  position: absolute;
}
.infowindow .box {
  top: 0;
}

.stations {
  position: absolute;
  width: 100%;
  height: 100%;
}

/*#states path {
  fill-opacity:0;
  stroke: #fff;
  stroke-width:1.5px;
  stroke-linecap: round;
  stroke-linejoin: round;
}

#counties {
  position:absolute;
  top:0; left:0;
  width:100%;
}
#counties path{
  stroke: red;
  stroke-width:0.2px;
  stroke-linecap: round;
  stroke-linejoin: round;  
}
*/
